@model IEnumerable<ModelPlaneInfo.Web.Models.ModelPlaneTableModel>

    <tr>
        <td>
            @Html.DisplayNameFor(model => model.Name)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.Type)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.BeginnYear)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.Used)
        </td>

    </tr>