@model IEnumerable<ModelPlaneInfo.Web.Models.ModelPlaneTableModel>

@foreach (var item in @Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BeginnYear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Used)
        </td>

    </tr>
}
