<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="pos-f-t">
        <div class="collapse" id="navbarToggleExternalContent">
            <div class="bg-dark p-4">
                <h4 class="text-white">
                    <a class="navbar-brand text-white" href="#">SA "Aircraft models": information about aircraft models and types of aircraft</a>
                </h4>
                <span class="text-muted">
                    <a href="/Home/EntitiesList" class="navbar-text text-white">
                        The essence of SA
                    </a>
                </span>
            </div>
        </div>
        <nav class="navbar navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
    </div>
    <div class="container">
        <div class="row">
            <div id="categories" class="col-sm-5 col-md-4 col-lg-3">
                @RenderSection("NavMenu", false)
            </div>
            <div class="col-sm-7 col-md-8 col-lg-9">
                @RenderBody()
            </div>
        </div>
        <div class="p-5 text-center">
            @Html.ActionLink(" Back ", "ModelsPlane", "ModelsPlane", new { used = "" }, new { @class = "btn btn-outline-dark btn-lg btn-block" })
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js"></script>

</body>

</html>
