<body>
    <div class="container p-5">

        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card h-100">
                        <img src="http://c.files.bbci.co.uk/E066/production/_111164475_gettyimages-973359970.jpg" class="card-img-top" alt="Models plane">
                        <div class="card-body">
                            <div class="text-center">
                                <h5 class="card-title">Models plane</h5>
                                <a href="/ModelsPlane/ModelsPlane" class="btn btn-success">Go to info</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="https://st.depositphotos.com/1154952/4723/i/600/depositphotos_47233243-stock-photo-big-passenger-plane-flying-over.jpg" class="card-img-top" alt="Planes type">
                        <div class="card-body">
                            <div class="text-center">
                                <h5 class="card-title">Planes type</h5>
                                <a href="/PlanesType/PlanesType" class="btn btn-success">Go to info</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

